# Virtual environments
venv/
.venv/
env/
ENV/

# Git
.git/
.gitignore

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Docs
README.md
README (2).md
