# App
PROJECT_NAME=Desafio API
ENVIRONMENT=development
DEBUG=True

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=desafio_db
DATABASE_URL=postgresql://postgres:postgres@db:5432/desafio_db

# Security / JWT
JWT_SECRET=troque-esta-chave
JWT_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
